## Importing the necessary libraries

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import norm
from scipy import stats
from sklearn.neighbors import KNeighborsRegressor
import math
import datetime
from sklearn import linear_model 
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPRegressor
from sklearn.preprocessing import PowerTransformer
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.metrics import classification_report, f1_score, cohen_kappa_score
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.metrics import cohen_kappa_score
from imblearn.over_sampling import SMOTE
import requests
from bs4 import BeautifulSoup

In [4]:
!pip install bs4

Requirement already satisfied: bs4 in c:\users\31612\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\31612\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\31612\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)

## Scrapping the top 100 hot songs from billboard

In [5]:
#%writefile -a functions.py
def scrape_hot100():
   
    url = "https://www.billboard.com/charts/hot-100/"
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser') 
    titles = []
    artists = []
    for index, elem in enumerate(soup.find_all("li",{"class":"lrv-u-width-100p"})):
        if ( index%2 == 0 ):
            titles.append(elem.find_all("h3")[0].get_text().replace("\t","").replace("\n",""))
            artists.append(elem.select("span")[0].get_text().replace("\t","").replace("\n",""))
    billboard100=pd.DataFrame({"title":titles, "artist": artists})
    billboard100.to_csv('billboard100.csv', index= False)
    return billboard100

In [6]:
scrape_hot100()

                title                         artist
0           As It Was                   Harry Styles
1         First Class                    Jack Harlow
2          Wait For U  Future Featuring Drake & Tems
3     About Damn Time                          Lizzo
4          Heat Waves                  Glass Animals
..                ...                            ...
95    Love You Better                         Future
96        Wild Hearts                    Keith Urban
97  Last Night Lonely                      Jon Pardi
98           7500 OBO                     Tim McGraw
99  Until I Found You                Stephen Sanchez

[100 rows x 2 columns]

## Adding a database for not hot songs

In [7]:
data = pd.read_csv('Spotify-2000.csv')

In [8]:
data.head()

,Index,Title,Artist,Top Genre,Year,Beats Per Minute (BPM),Energy,Danceability,Loudness (dB),Liveness,Valence,Length (Duration),Acousticness,Speechiness,Popularity
0,1,Sunrise,Norah Jones,adult standards,2004,157,30,53,-14,11,68,201,94,3,71
1,2,Black Night,Deep Purple,album rock,2000,135,79,50,-11,17,81,207,17,7,39
2,3,Clint Eastwood,Gorillaz,alternative hip hop,2001,168,69,66,-9,7,52,341,2,17,69
3,4,The Pretender,Foo Fighters,alternative metal,2007,173,96,43,-4,3,37,269,0,4,76
4,5,Waitin' On A Sunny Day,Bruce Springsteen,classic rock,2002,106,82,58,-5,10,87,256,1,3,59

In [9]:
not_hot_songs = data[['Title', 'Artist']]
not_hot_songs.rename(columns = {'Title':'title','Artist':'artist'}, inplace = True)

C:\Users\31612\AppData\Local\Temp\ipykernel_5492\2776895946.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  not_hot_songs.rename(columns = {'Title':'title','Artist':'artist'}, inplace = True)

In [10]:
not_hot_songs.head()

                    title             artist
0                 Sunrise        Norah Jones
1             Black Night        Deep Purple
2          Clint Eastwood           Gorillaz
3           The Pretender       Foo Fighters
4  Waitin' On A Sunny Day  Bruce Springsteen

In [12]:
not_hot_songs.to_csv('not_hot_songs.csv', index= False)